TSP_XYPLOT_PNG        RCDATA  "TSP_XYPLOT.png"
TSP_XYLINE_PNG        RCDATA  "TSP_XYLINE.png"
TSP_SPECTRLINES_PNG   RCDATA  "TSP_SPECTRLINES.png"
TSP_NDSXYLINE_PNG     RCDATA  "TSP_NDSXYLINE.png"
TSP_LINEMARKER_PNG    RCDATA  "TSP_LINEMARKER.png"
TSP_IMAGEMARKER_PNG   RCDATA  "TSP_IMAGEMARKER.png"